extends ../base/layout

block variables
  - const title = "FamilyFinances" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentPage = "main" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .app
      //- .menu-btn
      //- .menu
      .container
        .page
          .page__heading
            p Потрачено за месяц
            span.monthly_expenses 0
          ul.result-list
          form.controlls.expenses-form
            +custom-select({class: 'open-up', id: "id-example-1", label: "Категория", ariaLabel: "Выберите одну из опций", name: "name-example-1", error: "some-error", options: [{text: "Продукты", value: "id-1"}, {text: "Еда вне дома", value: "id-8"}, {text: "Такси", value: "id-9"}, {text: "Алкоголь", value: "id-2"}, {text: "Бытовые расходы", value: "id-3"}, {text: "Комуналка", value: "id-4"}, {text: "Доставка еды", value: "id-5"}]})
            .controlls__row
              .custom-input
                input(type="number" placeholder="цена")
              button.btn(type="submit")
                img(src="img/content/cat-icon.png" width="30" height="30" alt='+')


block modals
