.custom-input input {
  padding-left: 0;

  border: none;
  background-color: $color-transparent;
  outline: none;
  font-size: 22px;
  line-height: 26px;
  font-family: $font-family--yanone;
  color: $color-dark-green;

  &:active,
  &:focus-visible {
    border: none;
  }
}
